# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Mediator.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Wiktor\Desktop\Mediator\.idea\.idea.Mediator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
