# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FactoryMethod.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\wiktor.muller\Desktop\FactoryMethod\.idea\.idea.FactoryMethod\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
