# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Command.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Wiktor\Desktop\Command\.idea\.idea.Command\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
