# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Facade.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\wiktor.muller\Desktop\Facade\.idea\.idea.Facade\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
