# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Strategy.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Wiktor\Desktop\Strategy\.idea\.idea.Strategy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
