# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Visitor.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Wiktor\Desktop\Visitor\.idea\.idea.Visitor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
