# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Proxy.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\wiktor.muller\Desktop\Proxy\.idea\.idea.Proxy\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
